data/res/NXDP1902103231.json

data/res/SXDP2002103180.json

data/res/dict.json

data/res/label_mapping.json

data/res/New_Noun_Dict.json

data/res/Noun_Dict.json

data/res/token_dict.json

data/None.py

empty.ipynb

create_dict.py

data_read.py

hs_err_pid17712.log

if.txt

konlpy_read.py

labels.txt

split_dataset.py

modify_dict.py